.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    width: 100%;

    &__delete {
        width: 20px;
        height: 20px;
    }

    &:hover {
        path {
            fill: #0d6efd;
        }
    }
}

.center {
    text-align: center;
}

.number {
    text-align: left;
}
