.table-noData {
  border-color: transparent;
  height: 100%;
  width: 100%;

  tbody, tr, td {
    border-color: transparent !important;
  }

  .containerNoData {
    min-width: 100%;
    min-height: 100%;
    border-color: transparent;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
    }
  }
}
