.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    justify-content: center;

    .input {
        border: 1px solid var(--primary);
        background: transparent;
        padding: 5px 15px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &::content {
            background-color: transparent;
        }

        &::placeholder {
            color: #707070;
            font-size: 1rem;
        }
    }

    .label {
        padding-left: 5px;
        color: #3b3b3b;
        font-size: 15px;
    }

    .preview {
        position: absolute;
        right: 8px;
        color: #999999;
        cursor: pointer;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px #eeeff6 inset !important;
        font-size: 1rem;
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: #999999 !important;
        font-size: 1rem;
    }
    span {
        color: var(--error);
        font-size: 1rem;
    }

    .hasError {
        border: 1px solid var(--error);
    }

    .hasError {
        border: 1px solid var(--error);
    }

    .error {
        color: var(--error);
    }
}
