.content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .form {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .formContent {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .button {
            width: 200px;
        }
    }
}
