.tableContaint {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;

    &-content {
        background-color: #ffffff;
        flex: 1 1 auto;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 100%;
        min-height: 0;
        overflow: auto;
        overflow-x: auto;
        overflow-y: scroll;
        position: relative;
        border-color: inherit;
        outline: 0;

        .grid {
            position: relative;
            white-space: normal;

            &-table {
                display: table;
                table-layout: fixed;
                box-sizing: content-box;
                margin: 0;
                width: 100%;
                max-width: none;
                border-width: 0;
                border-color: inherit;
                border-collapse: separate;
                border-spacing: 0;
                empty-cells: show;
                outline: 0;
                white-space: normal;
                text-indent: initial;

                tbody {
                    text-align: left;
                    border-color: inherit;
                    display: table-row-group;
                    vertical-align: middle;

                    tr {
                        border-color: inherit;
                        display: table-row;
                        vertical-align: inherit;
                        text-align: left;
                        border-color: inherit;

                        td {
                            border-left-width: 0;
                            border-color: rgba(0, 0, 0, 0.08);
                            border-width: 0 0 0px 1px;
                            vertical-align: middle;
                            padding: 8px 12px;
                            border-style: solid;
                            outline: 0;
                            font-weight: inherit;
                            text-align: inherit;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: table-cell;
                        }
                    }
                    
                }
            }
        }
    }
}
