.table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    tbody {
        .row-table {
            cursor: pointer;

            &:hover {
                td {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }
    }
}
