.table {
    width: 100%;

    tbody {
        tr {
            cursor: pointer;

            &:hover {
                td {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }
    }
}
