main {
  height: 100vh;
}

th {
  text-align: center;
  vertical-align: middle;
}

.item-select {
  cursor: pointer;
}

.items-center {
  text-align: center;
}

.td-number {
  text-align: right;
  width: 120px;
}

.container
{
  max-width:96% !important
}