body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.iconos-check {
  width: 20px;
  height: 20px;
}

$error: #ff0000bb;

:root {
  --error: #{$error};
}

.table_data {
  thead {
    background-color: black;
    tr {
      th {
        color: white;
      }
    }
  }
}

:global(.tableHeader), .tableHeader {
  background-color: black;
}
